 .dashboard-container {
     background: #f0f0f0;
     height: 100vh;
     display: flex;
     flex-direction: column;
 }

 .main-container {
     height: 100vh;
     padding: 50px;
     overflow: auto;
     display: grid;
     grid-template-columns: 2fr 2fr 2fr 2fr 1fr;
 }

 .pagination {
     display: flex;
     flex-direction: row;
     justify-content: center;
     height: 50px; 
      
 }

 .pagination li {
     margin-left: 10px;
     cursor: pointer;
     list-style: none;
     border: 1px solid #7159c1;
     border-radius: 8px;
     height: 40px;
     width: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .pagination li a {
     text-decoration: none;
 }

 .activeLinkClass {
     color: white;
 }

 .active {
     background: #7159c1;
 }

 .main-container::-webkit-scrollbar {
     width: 20px;
 }

 .main-container::-webkit-scrollbar-track {
     background: #f0f0f0;
     border-radius: 10px;
 }

 .main-container::-webkit-scrollbar-thumb {
     background: rgba(154, 116, 226, 0.849);
     border-radius: 6px;
     box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
 }